* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: lightgray;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

h1 {
    color: darkgray;
    font-weight: normal;
    margin: 70px 0 30px;
    text-align: center;
}

.section-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
}

.form-1 {
    border: 1px solid lightgray;
    border-radius: 8px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    padding: 30px;
    width: 100%;
}

.input {
    border: 1px solid lightgray;
    border-radius: 4px;
    font-size: 12px;
    height: 40px;
    padding: 10px 15px;
}

input:focus {
    border-color: black;
    border-radius: 0;
    outline: none;
}

#message {
    grid-column: span 2;
    height: 70px;
}

#submit-button {
    align-self: center;
    border: 0;
    border-radius: 7px;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    grid-column: span 2;
    margin-top: 15px;
    justify-self: center;
    padding: 10px 25px;
    background-color: rgb(104, 194, 104);
}

.section-2 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 50px;
}

.div-1 {
    display: grid;
    max-width: 700px;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 8px;
    color: rgb(87, 86, 86);
    position: relative;
}

.div-1 h3 {
    font-weight: normal;
}

.div-1 p {
    font-size: 12px;
}

.done-button {
    align-self: flex-end;
    justify-self: right;
    padding: 15px 20px;
    font-size: 12px;
    font-family: inherit;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    background-color: rgb(104, 194, 104);
}

.item-container {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    border-bottom: 1px solid lightgray;
}

.space {
    margin: 5px 0;
}

.bold {
    font-weight: bold;
}